button {
    padding: 2px 20px 1px 20px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0;

    background-color: blue;

    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    outline: 0;

    display: inline-block;

    position: absolute;
    top: 0;
    left: 0;
}

button:hover {
    border: 1px solid white;
    color: white;
    background-color: orange;
}