.navbar {
    background-color: blue !important;      /* Here we use !important to override w3 schools' CSS */
}

.icon {
    background-color: blue !important;      /* Here we use !important to override w3 schools' CSS */
}

.icon:hover {
    background-color: red !important;       /* Here we use !important to override w3 schools' CSS */
}