.Button {
    cursor: pointer;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-75px, 0px);
}

.placeholderImage {
    width: 200px;
    height: 200px;
    padding: 0;
    margin: 0;
}